#HW_badge_cont {
  position: absolute !important;
  top: -5px;
  right: -10px;
}

#HW_badge {
  background: #ff4848 !important;
  width: 10px;
  height: 10px;
  overflow: hidden;
  text-indent: -100px;
}

.HW_frame_cont.HW_visible {
  transform: translateY(23px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(236, 236, 238, 1);
  border-radius: 8px;
}
